  /* ---about css--- */
  .about-container {
    margin: 0 108px;
    margin-bottom: 400px;
    padding: 0 12px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.about-row {
  width: 100%;
  display: flex;
  align-items: center;
 }
.col-1 {
  width: 50%;
  margin-right: 30px;
}
.col-2 {
  width: 50%;
}
.col-1 h1 {
  font-size: 32px;
  margin-bottom: 8px;
}
.col-1 p {
  font-size: 16px;
}
.my-image {
  width: 400px ;
  object-fit: cover;
  border-radius: 20px;
}