*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto,Arial;
}
p {
  font-family:  system-ui;
  color: rgb(33, 37, 41);
}
h1 {
  font-family :system-ui, -apple-system, "Segoe UI", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html {
  scroll-behavior: smooth;
}